

<div class="row mt-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m2 offset-l3 p-3">
        <form class="p-2" [formGroup]="inscriForm">
            <div class="row">
                <h1>
                    Incluir Departamento
                </h1>
                
            </div>
            <div class="row mb-0">
                
                
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <mat-label>Identificação:</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-label>Identificação</mat-label>
                        <input matInput placeholder="Digite a identificação" formControlName="Identificação">
                        <mat-error>Identificação é<strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <mat-label>Nome:</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-label>Nome do departamento</mat-label>
                        <input matInput placeholder="Digite o nome" formControlName="Nome">
                        <mat-error>Nome é<strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <mat-label>Local:</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-label>Local do departamento</mat-label>
                        <input matInput placeholder="Digite o nome" formControlName="Nome">
                        <mat-error>Local é<strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <mat-label>Endereço:</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-label>Endereço do departamento</mat-label>
                        <input matInput placeholder="Digite o nome" formControlName="Nome">
                        <mat-error>Endereço é<strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col s12">
                    <button mat-flat-button  color="primary" class="right" type="submit">
                        <mat-icon matSuffix></mat-icon>
                        Incluir Departamento
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>