<div class="row mt-5 mb-5">
  <mat-card class="col s10 m8 l6 offset-s1 offset-m9 offset-l3 p-5">
    <div class="p-5">
      <div class="row mb-0">
        <h1>Arquivos de dispositivos</h1>
        <h2 class="col s12">Selecione abaixo qual o tipo de dispositvos:</h2>
        <div class="row mb-0">
          <div class="col s12 mb-2 center">
            <app-event-card
              [name]="'Celular'"
              [url]="'celular'"
              [image]="'celulares.jfif'"
            ></app-event-card>
          </div>
          <div class="col s12 mb-2 center">
            <app-event-card
              [name]="'Tablets'"
              [url]="'tablets'"
              [image]="'net.jpg'"
            ></app-event-card>
          </div>
          <div class="col s12 mb-2 center">
            <app-event-card
              [name]="'Notebook'"
              [url]="'note'"
              [image]="'note.jpg'"
            ></app-event-card>
          </div>
          <div class="col s12 mb-2 center">
            <app-event-card
              [name]="'Listar cautelas'"
              [url]="'liscautelas'"
              [image]="'listar.jpg'"
            ></app-event-card>
          </div>
          <div class="col s12 mb-2 center">
            <app-event-card
              [name]="'Adicionar Linhas'"
              [url]="'adilinhas'"
              [image]="'incluir1.jpg'"
            ></app-event-card>
          </div>

          <div class="col s12 mb-2 center">
            <app-event-card
              [name]="'Listar  Linhas'"
              [url]="'linhas'"
              [image]="'listar.jpg'"
            ></app-event-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
