<mat-toolbar>
    <mat-toolbar-row style="height: 120px; width: 100%;">
        <img class="right mr-5" src="/assets/header.png" style="height: 45px; width: auto;">
        <h1>Secretaria do Esporte e Lazer</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="m-2">
    <mat-button-toggle >Inicial</mat-button-toggle>
    <mat-button-toggle >Cadastar</mat-button-toggle>
    <mat-button-toggle >Fazer minha inscrição</mat-button-toggle>
</mat-button-toggle-group>

<div class="row mt-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m2 offset-l3 p-3">
        <form class="p-2" [formGroup]="inscricaoForm">
            <div class="row">
                <div class="col s12 m6 pt-3">
                    <h1>
                        XXII Caminhada dos Entas 2021
                    </h1>
                    <h3>
                        Realizando inscrição
                    </h3>
                    <p>
                        Escrever aqui o texto
                    </p>
                </div>
            </div>
            <div class="row mb-0">
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <h3>Cpf</h3>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <input matInput placeholder="Placeholder" formControlName="cpf" [mask]="mask">
                        <mat-error>Cpf é <strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <h3>Camiseta</h3>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-select formControlName="camiseta">
                            <mat-option value="p">P</mat-option>
                            <mat-option value="m">M</mat-option>
                            <mat-option value="g">G</mat-option>
                            <mat-option value="gg">PP</mat-option>
                        </mat-select>
                        <mat-error>Camiseta <strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <h3>Unidade de saúde</h3>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-select formControlName="unidadeSaude">
                            <mat-option disabled [value]="null">-- Selecione a unidade de saúde --</mat-option>
                            <mat-option value="1">Unidade 1</mat-option>
                            <mat-option value="2">Unidade 2</mat-option>
                            <mat-option value="3">Unidade 3</mat-option>
                            <mat-option value="4">Unidade 4</mat-option>
                        </mat-select>
                        <mat-error>Camiseta <strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <h3><b>Outra instiruição</b></h3>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <textarea matInput cdkTextareaAutosize formControlName="outraInstituição"></textarea>
                    </mat-form-field>
                </div>
                <p class="col s12">
                    <label class="right">
                        <input formControlName="termos" type="checkbox" />
                        <span>Aceito o regulamento</span>
                    </label>
                </p>

            </div>
            <div class="row">
                <div class="col s12">
                    <button mat-flat-button color="primary" class="right" type="submit">
                        <mat-icon matSuffix>send</mat-icon>
                        Inscrever
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>