<div class="row mt-5 mb-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m9 offset-l3 p-5">
        <div class="p-5">
            <div class="row mb-0">
                <h1>
                   Sistema de chamado
                </h1>
                <h2 class="col s12">
                    Selecione qual o serviço necessario:
                </h2>
                <div class="row mb-0">
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Incluir secretaria'" [url]="'incluir1'" [image]="'incluir1.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Incluir Departamento'" [url]="'incluir2'" [image]="'incluir1.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Incluir Cliente'" [url]="'incluir3'" [image]="'incluir1.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Alterar cliente de Departamento'" [url]="'alterar'" [image]="'alterar.jpeg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Listar Chamados Abertos'" [url]="'listar'" [image]="'listar.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Fechar Chamados'" [url]="'fechar'" [image]="'incluir1.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Registro de entrada de equipamentos'" [url]="'registro'" [image]="'incluir1.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Listar registros de entrada'" [url]="'listarr'" [image]="'listar.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Fechar registros de entrada'" [url]="'fecharr'" [image]="'incluir1.jpg'"></app-event-card>
                    </div>

                
                </div>
            </div>
        </div>
    </mat-card>
</div>