<div class="row mt-5 mb-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m9 offset-l3 p-5">
        <div class="p-5">
            <div class="row mb-0">
                <h1>
                   Sistema de chamado 
                </h1>
                <h2 class="col s12">
                    Selecione abaixo em qual o assunto do chamado:
                </h2>
                <div class="row mb-0">
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Rede'" [url]="'chamado1'" [image]="'image2.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Internet'" [url]="'chamado2'"  [image]="'net.jpg'"  ></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Pasta compartilhada'" [url]="'chamado3'" [image]="'pasta.png'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Estação de trabalho'" [url]="'chamado4'"[image]="'estação.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Webmail'" [url]="'chamado5'"[image]="'webmail.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Certificado Digital'" [url]="'chamado6'"[image]="'certificado.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Mudança de local'" [url]="'chamado7'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Impressora'" [url]="'chamado8'"[image]="'impresoora.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Instalar programas'" [url]="'chamado9'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Sonner'" [url]="'chamado10'"[image]="'sonner.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Esus/Cadsus'" [url]="'chamado11'"[image]="'esus.jpg'" ></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Video monitoramento'" [url]="'chamado12'"[image]="'monitoramento.jpg'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Virus'" [url]="'chamado13'"[image]="'virus.png'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Laboratório escola'" [url]="'chamado14'"[image]="'laboratorio.jpg'"></app-event-card>
                    </div>

                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Site Prefeitura'" [url]="'chamado16'"[image]="'site.png'"></app-event-card>
                    </div>

                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Fala cidadão'" [url]="'chamado17'"[image]="'fala.png'"></app-event-card>
                    </div>

                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Termo de referência'" [url]="'chamado18'"></app-event-card>
                    </div>

                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Diário oficial'" [url]="'chamado19'"></app-event-card>
                    </div>

                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Pacote office'" [url]="'chamado20'"[image]="'office.webp'"></app-event-card>
                    </div>
                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Relógio de ponto'" [url]="'chamado21'"></app-event-card>
                    </div>

                    <div class="col s12 mb-2 center">
                        <app-event-card [name]="'Terminal server'" [url]="'chamado22'"></app-event-card>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>