<app-navbar></app-navbar>
<div class="row mt-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m9 offset-l3 p-5">
        <div class="p-9">
            <div class="row">
                <h1>
                    Cadastro Atleta - Módulo de Cadastro e inscrições SEMEL
                </h1>
                <h2>
                    Neste sistema você poderá realizar seu cadastro e inscrições nos vários eventos promovidos pela
                    Secretaria de Esporte e Lazer da Prefeitura de Itajubá. O Cadastro deve ser realizado apenas uma vez
                    após isso você poderá se inscrever nos eventos. Se você já realizou o seu cadastro no ano passado
                    não é necessário se cadastrar novamente. basta ir no menu "Fazer minha inscrição" e selecionar o
                    evento ao qual você deseja se inscrever.
                </h2>
                <h2>
                    Manual de uso do sistema.
                </h2>
                <h2>
                    1 - Realizar seu cadastro como atleta, deve ser feito uma única vez cliacando no link "Cadastrar"
                    Depois disso com seu CPF você poderá se inscrever em qualquer evento;
                </h2>
                <h2>
                    2 - Com o cadastro realizado ir no menu "Fazer minha inscrição" e escolher o evento, preencher os
                    dados e clicar em inscrever;
                </h2>
                <h2>
                    3 - Após se inscrever em um evento será aberto o comprovante de inscrição, você deve imprimi-lo;
                </h2>
            </div>
        </div>
    </mat-card>
</div>