<div class="row mt-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m9 offset-l3 p-5">
        <div class="p-9">
            <div class="row">
                <h1>
                    Sistema de Controle de Chamados
                </h1>
                <h2>
                    Este é o sistema de controle de chamados da Secretaria Municipal de Informática. 
                    Se você já possui usuário e senha basta efetuar login e usar o sistema, caso ainda 
                    não tenha clique em cadastrar para efetuar seu cadastro no sistema.
                </h2>
                <h2>
                    Manual de uso do sistema.
                </h2>
                <h2>
                    1 - Clique em "ACESSAR O ITAJUBÁ DIGITAL". Em seguida, faça seu login. 
                        Se você ainda não possui é necessário que faça o cadastro.
                </h2>
                <h2>
                    2 - Preencha ou confira seus dados e, em seguida, clique em "SALVAR".
                </h2>
                <h2>
                    3 - Para abrir um chamado, selecione abrir chamado ;
                </h2>
                <h2>
                    4 - Selecione o assunto e, em seguinda,descreva o problema/dificuldade que está tendo;
                </h2>
    
            </div>
        </div>
    </mat-card>
</div>