<div class="row mt-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m2 offset-l3 p-3">
        <form class="p-2" [formGroup]="cadastrarForm">
            <div class="row">
                <div class="col s12 l6 pt-3">
                    <h1>
                        Dados do Funcionário
                    </h1>
                </div>
            </div>
            <div>
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <mat-label>Departamento:</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-label>Departamento</mat-label>
                        <input matInput placeholder=" " formControlName="Departamento">
                        <mat-error>Departamento é <strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div> 
                <div class="row mb-0">
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <h3>Matricula:</h3>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <input matInput placeholder=" " formControlName="matricula" [mask]="mask">
                            <mat-error>matricula é <strong>obrigatório</strong></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <mat-label>Nome:</mat-label>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Digite sua Nome" formControlName="nome">
                            <mat-error>Nome é <strong>obrigatório</strong></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <h3>Sexo:</h3>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <mat-label>Sexo</mat-label>
                            <mat-select formControlName="orientacaosexual">
                                <mat-option value="masc">Masculino</mat-option>
                                <mat-option value="fem">Feminino</mat-option>
                                <mat-option value="neutro">Neutro</mat-option>
                            </mat-select>
                            <mat-error>Sexo <strong>obrigatório</strong></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <mat-label>Cargo:</mat-label>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <mat-label>Cargo</mat-label>
                            <input matInput placeholder="Digite seu Cargo" formControlName="Cargo">
                            <mat-error>Cargo é <strong>obrigatório</strong></mat-error>
                        </mat-form-field>
                    </div> 
                   
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <mat-label>Telefone:</mat-label>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Digite um telefone fixo" formControlName="telefone"
                                [mask]="phoneMask">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <mat-label>Celular:</mat-label>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <mat-label>Celular</mat-label>
                            <input matInput placeholder="Digite o número do Celular" formControlName="celular" [mask]="phoneMask">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col s12 m-0 p-0">
                        <div class="col s4 m3 pt-4">
                            <mat-label>E-mail:</mat-label>
                        </div>
                        <mat-form-field appearance="fill" class="col s8 m9">
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="Digite o E-mail" formControlName="email">
                        </mat-form-field>
                    </div>
                    
                    <div class="col s12">
                        <button mat-flat-button color="primary" class="right" (click)="save()">
                            <mat-icon matSuffix>save</mat-icon>
                            Alterar Dados
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>