

<div class="row mt-5">
    <mat-card class="col s10 m8 l6 offset-s1 offset-m2 offset-l3 p-3">
        <form class="p-2" [formGroup]="inscriForm">
            <div class="row">
                <h1>
                    Alterar Cliente de Departamento
                </h1>
            </div>
            <div class="row mb-0">
                <div class="col s12 m-0 p-0">
                    <div class="col s4 m3 pt-4">
                        <h3>Selecione a Secretária</h3>
                    </div>
                    <mat-form-field appearance="fill" class="col s8 m9">
                        <mat-select formControlName="camiseta">
                            <mat-option value="Comunicação">Secretária municipal de comunicação social</mat-option>
                            <mat-option value="Cultura">Secretária municipal de comunicação e turismo</mat-option>
                            <mat-option value="Educação">Secretaria municipal de educação</mat-option>
                            <mat-option value="Esporte">Secretaria municipal de esporte e lazer</mat-option>
                        </mat-select>
                        <mat-error>Encontrar Secretária  é <strong>obrigatório</strong></mat-error>
                    </mat-form-field>
                </div>
            
                <div class="col s12">
                    <button mat-flat-button [routerLink]="'/inscri/cliente2'"color="primary" class="right" type="button">
                        <mat-icon matSuffix>send</mat-icon>
                       avançar
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>